<%
=begin%>
 <% if dom_id task%>

<table>
<tr id="<%= dom_id task %>"> 
<%
=end%>
<td><%= task.name %></td>
<td> <%= task.duedate %></td>
<% if  task.status %>
<td>Complete</td>
    <%else%>
<td>Pending</td>
<%end%>
<%
=begin%>
 </tr>
</table>

<%end %> 
<%
=end%>
