<center>
<h1>Editing task</h1>
<table cellspacing ="50" width="700">
 <tr> <%= render "form", task: @task %></tr>
</table>
<div>
  <%= link_to "Show this task", @task %> |
  <%= link_to "Back to tasks", tasks_path %>
</div>
</center>
